.relativeElement{
  position: relative;
  background: #FF9900;
  color: white;
  top: -2px;
  left: -20px;
}
.relativediv{
  position: relative;
}
.absoluteElement{
  position: absolute;
  background: #0099FF;
  color: white;
  bottom: 0;
  right: 0;
}

.fixedElement{
  width: 50px;
  height: 50px;
  position: fixed;
  left: 50px;
  bottom:50px;
  background: #FF9900;
}
